body {
    color: black;
    background: blue;
    margin: 0px;
    font-matemasie: "chakra patch", sans-serif;
    margin-bottom: 10px;
}

header{
    border-bottom: solid 2px rgb(42, 122, 288);

}



.chamada {
    backgroud: rgb(184, 156, 213)
    padding-botton: 80px
    padding-top: 80px



}


h1 {
    font-size: 40px;
}

p1 {
    font-size: 20px;
}       


.chamada-texto {
    margin-right: 5%;
}
img{
    height:200px
}

.categoria-videos {
    display: flex;
    overFlow-x: auto;
    gap: 10px;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categorias-videos ing {
    opacity: 20px;
    height: 20px;
}

.categoria-video img:hover {
    border: 1px solid blue;
}

.categoria h2 {
    color rgb(42, 122, 228);
}
